body, html{
    background-color: #171717;
    min-width: 550px;
}

.maincontainer{
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    background-color: #2b2b2b;
    text-align: center;
    /* width: 60%; */
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 75px;
}

.namenotice{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right,#005499 , #6900ba);
    text-align: center;
    /* width: 60%; */
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 75px;
}

.prerellink{
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1f1f1f;
    text-align: center;
    /* width: 60%; */
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 75px;
}

.namenotice #Title{
    white-space: nowrap;
    margin: 40px;
    margin-bottom: -30px;
}

.prerellink #subSubtitle{
    white-space: nowrap;
}

.prerellink #subSubtitleLink{
    display: block;
    white-space: nowrap;
    margin: 16px;
}

.maincontainer #Title{
    margin: 40px;
}

.maincontainer #Subtitle{
    margin: 40px;
}

#Title{
    position: relative;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 400%;
}

#Subtitle{
    position: relative;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
}

#subSubtitle{
    position: relative;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

#subSubtitleLink{
    position: relative;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

#footernamedate{
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #424242;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
}

#footertwt{
    position: absolute;
    top: 98%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: #343434;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    text-decoration: none;
}

#footergit{
    position: absolute;
    top: 98%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: #343434;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    text-decoration: none;
}

#creplogo{
    position: absolute;
    width: 64px;
    height: 64px;
    margin-left: 0.5%;
    margin-top: 0.5%;
}

#areyousure{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 20%;
}
#releaselink{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}