body, html{
    background-color: #171717;
    min-width: 550px;
}

.maincontainer{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    background-color: #2b2b2b;
    text-align: center;
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 75px;
}

.maincontainercontact{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    background-color: #2b2b2b;
    text-align: center;
    /* width: 60%; */
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 75px;
}

#TitleContA{
    position: relative;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 400%;
    margin-bottom: -1%;
}

#SubtitleContA{
    position: relative;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    margin-bottom: 8%;
}

#SubtitleContact{
    position: relative;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    margin-bottom: 2%;
}

#ContactSubmit{
    margin: 6%;
    margin-bottom: 1%;
    outline-style: none;
    border-style: none;
    color: white;
    background-image: linear-gradient(to top right,#005499 , #6900ba);
    border-radius: 15px;
    width: 200px;
    height: 40px;
}

#ContactName{
    outline: none;
    border-style: solid;
    border-width: 2px;
    border-color: #373737;
    color: white;
    background-color: #272727;
    border-radius: 10px;
    width: 408px;
    height: 25px;
    font-size: larger;
}

#ContactMessage{
    font-size: 140%;
    outline: none;
    border-width: 2px;
    border-color: #373737;
    color: white;
    background-color: #272727;
    border-radius: 10px;
    resize: none;
    margin: 0px;
    width: 408px;
    height: 185px;
}

#directcontact{
    color: #474747;
}

.namenotice{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to top right, #ff0000, #7200ff); /* #e00d0d, #6900ba */
    text-align: center;
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 75px;
}

.namenotice #Title{
    white-space: nowrap;
    margin: 40px;
    margin-bottom: -30px;
}
.maincontainer #Title{
    margin: 40px;
}

.maincontainer #Subtitle{
    margin: 40px;
}

#Title{
    position: relative;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 400%;
}

#Subtitle{
    position: relative;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
}

#subSubtitle{
    position: relative;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

#subSubtitleLink{
    position: relative;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

#footernamedate{
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #424242;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
}

.footer a{
    position: absolute;
    color: #343434;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    text-decoration: none;
    transform: translate(-50%, -50%);
}

#footertwt{
    top: 98%;
    left: 46%;
}

#footergit{
    top: 98%;
    left: 50%;
}

#footercontact{
    top: 98%;
    left: 54%;
}

#creplogo{
    position: absolute;
    width: 64px;
    height: 64px;
    margin-left: 0.5%;
    margin-top: 0.5%;
}

#areyousure{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 20%;
}
#releaselink{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}